  <div class="section">
    <div class="container">
      <div class="title" data-parallax="true">
        <img id="logo" src="./../../../assets/img/logo/tdsc.jpg" width="400">
        <h1>The DarkStryder Campaign </h1>
        <h2>- A textual RPG on web - </h2>
        <h5>for use with: </h5>
        <h3><strong>Star Wars: </strong>The Role Playing Game 2.5 edition</h3>
      </div>
    </div>
    <div class="container">
      <h1 class="presentation-title"> Il y a bien longtemps, dans une galaxie lointaine, très lointaine...</h1>
    </div>
    <div class="cotainer-fade">
      <div class="row">
        <div class="col-6">
          <input Type="button" class="btn btn-outline-warning" VALUE="Reload" onClick="history.go(0)">
        </div>
        <div class="col-6 text-right">
          <figure>
            <figcaption>Star Wars -Main Title(Theme)- John Williams, 1977.</figcaption>
            <audio preload="auto" autoplay controls>
              <source src="../../../assets/music/Star_Wars_original_opening_crawl_1977.mp3" type="audio/mpeg">
            </audio>
        </figure>
        </div>
      </div>
      <div class="container-intro">
        <!-- Place in Body where you'd like intro to appear -->
        <div class="star-wars-intro">
          <!-- Blue Intro Text Desactived-->
          <p class="intro-text">
            A few days ago, during...
          </p>
          <!-- Logo Image or Text goes in here -->
          <h2 class="main-logo">
            <img src="./../../../assets/img/logo/tdsc.jpg">
          </h2>
          <!-- All Scrolling Content Goes in here -->
          <div class="main-content">
            <div class="title-content">
              <p class="content-header">THE SAGA BEGINS<br/>Assault on Kall'Sheboll</p>
              <br>
              <p class="content-body">
                Four years after the Battle of Endor, the struggle against the remnants of the Empire continues.
              </p>
              <br>
              <p class="content-body">
                With the New Republic struggling to liberate Imperial worlds, rogue Imperial leaders have turned to ever more desperate tactics to hold power.
              </p>
              <br>
              <p class="content-body">
                In the distant Kathol sector, a New Republic task force attemps to defeat Imperial warlord Moff Sarne.
              </p>
              <p class="content-body">
                As Imperial and New Republic starships battle orbit, a small New Republic infiltration team, Page's Commandos, leads the assault on Sarne's stronghold...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>





      <div class="tim-title">
        <h3>La Campagne du DarkStryder : </h3>
      </div>
    </div>


  <p>site works!</p>


